{% extends "blog/base.html" %} 
{% block content %}
<div class="table1">
    {% if customer_data %}
        <table>
            <thead>
                <th>customerID</th>
                <th>orderedItemID</th>
                <th>amount</th>
                <th>gender</th>
            </thead>

            {% for customer in customer_data %}
            <tr>
                <td>{{ customer.customer }}</td>
                <td>{{ customer.orderedItemID }}</td>
                <td>{{ customer.amount }}</td>
                <td>{{ customer.gender }}</td>
            </tr>
            {% endfor %}    
        </table>

    {% else %} 
        <p>No records found</p>
    {% endif %}
</div>

{% endblock content %}